
		<%
			if @search_term == nil

				%>

 	<div class="jumbotron"  > 
		<div class="container-fluid">
			<%= link_to(image_tag("index_img.jpg",  class: "img-responsive img-rounded", alt: "Recipes"), "/")%>
			<h4 class="text-left small">This image is a free one from pixabay.com</h4>
	   		<h1>Recipes Finder</h1>
	   		<p>Search by name or ingredients. View Top Socially Ranked Recipes</p>
			<div class='shareaholic-canvas' data-app='share_buttons' data-app-id=''></div>
    


 
				<%				
			else
				%>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand " href="/">
        <span class="glyphicon glyphicon-glass"></span> Recipes Finder
      </a>


				 <%

		%>

 
		<%	end%>

		 
			<form class="navbar-form navbar-left form-inline" role="search">
			  <div class="form-group">
			    <input type="text" class="form-control" placeholder="Search" name="search" value="<%=@search_term%>">
			  </div>		  
			  <button type="submit" class="btn  btn-primary">Find me!</button>
			  <button type="reset" class="btn  btn-default">Reset</button>



		
			</form>
		 
 <%
 if @search_term == nil
 	%>
 			</div>
	</div><%
else 
	%>    </div>
  </div>
</nav><%
 end 
 %>		

	

		<%
		case 
			when @search_term === nil
			when @search_term.lstrip === ""
				%><p class="text-warning">Sorry, search term isn't defined</p><%
			when @recipes === nil
				%><p class="text-warning">Sorry, no recipes found</p><%
			else
				%>

		<div class="page-header"><h1>Searching for Recipes - <%=@search_term%>  </h1></div>					
		<div class='shareaholic-canvas' data-app='share_buttons' data-app-id=''></div>
		
				<% @page = @page.to_i %>

				<nav>
				  <ul class="pagination">
				    <li>
				 	<%if @page > 1 %>
				      <a href="/?search=<%=@search_term%>&page=<%=(@page-1)%>" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				      <% end %>
				    
				    </li>
				    <%	i=1;
				    	@page.times {  %> <li <% if i == @page %> class="active" <% end%> ><a href="/?search=<%=@search_term%>&page=<%=i%>"><%=i%></a></li><% i += 1}
				    %>
				   
				    <li>
				      <a href="/?search=<%=@search_term%>&page=<%=(@page+1)%>" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>

				<div  class="row">
					<%j=1%>
					<% @recipes.each do |recipe| %>
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="img"><%= link_to(image_tag(recipe["image_url"], width: 150, height: 150, class: "thumbnail text-center"), recipe["source_url"], target: '_blank')%>
							</div>
							<%= link_to(recipe["social_rank"].to_f.round(3), recipe["source_url"], title: 'rating', class: "glyphicon glyphicon-heart-empty label label-success",  target: '_blank')%>
							 
							<h2><%= link_to(sanitize(recipe["title"]), recipe["source_url"], target: '_blank')%> </h2>
							<h3><%= recipe["publisher"]%></h3>
							 
						</div>

						<%if j % 4 == 0 %>
							<div class="clearfix visible-lg-block"></div>
						<% end %>
						<%if j % 3 == 0 %>
							<div class="clearfix visible-md-block"></div>
						<% end %>	
						<%if j % 2 == 0 %>
							<div class="clearfix visible-sm-block"></div>
						<% end %>												

						<%j += 1 %>
					<%end%>
				</div>
				<%
		end
		%>
 

